<p>
  Author: <a href="/messages/author/<%= @message.author %>"><%= @message.author %></a>
</p>

<p>
  <%= @message.content %>
</p>
<%if @message.url? %>
  <p>
    <a href="<%= @message.url %>"><%= @message.url %></a>
  </p>
<% end %>
<p>
  <%= @message.created_at %>
</p>

<hr/>
<a href="/messages">Back to all Messages</a>